Repository gwen-lg/vexy-svgo: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, cargo-toml-fmt

rustfmt:
  name: rustfmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-toml-fmt:
  name: cargo-toml-fmt
  entry: taplo fmt
  language: system
  pass_filenames: true

ci(docs): auto-build with MkDocs
  docs/developer/architecture/index.html
  docs/developer/benchmarks/index.html
  docs/developer/creating-a-plugin/index.html
  docs/developer/index.html
  docs/developer/migration/index.html
  docs/developer/performance-tuning/index.html
  docs/developer/plugin-development/index.html
  docs/developer/plugin-migration/index.html
  docs/developer/plugin-reference/index.html
  docs/index.html
  docs/search/search_index.json
  docs/sitemap.xml
  docs/sitemap.xml.gz
  docs/user/cli-usage/index.html
  docs/user/configuration/index.html
  docs/user/demo/index.html
  docs/user/index.html
  docs/user/installation/index.html
  docs/user/plugins/index.html
Due: none

v1.0.34
  Cargo.toml
  crates/core/Cargo.toml
  crates/plugin-sdk/Cargo.toml
  crates/test-utils/Cargo.toml
Due: cargo-toml-fmt

test(core): add comprehensive tests for error handling, main API, optimizer, plugin registry, stringifier, and visitor
  crates/core/tests/error_tests.rs
  crates/core/tests/main_api_tests.rs
  crates/core/tests/optimizer_tests.rs
  crates/core/tests/plugin_registry_tests.rs
  crates/core/tests/stringifier_tests.rs
  crates/core/tests/visitor_tests.rs
Due: rustfmt, clippy

.
  Cargo.lock
  Cargo.toml
  WORK.md
  crates/cli/src/main.rs
  crates/core/Cargo.toml
  crates/core/src/parser/config.rs
  crates/plugin-sdk/Cargo.toml
  crates/test-utils/Cargo.toml
  crates/wasm/src/minimal.rs
  issues/124.txt
Due: rustfmt, clippy, cargo-toml-fmt

Create 201.txt
  issues/201.txt
Due: none

fix(core): enable 30/33 SVGO default plugins by default
  CHANGELOG.md
  PLAN.md
  TODO.md
  WORK.md
  crates/cli/src/main.rs
  crates/core/src/parser/config.rs
  optimized.svg
  simple.svg
  simple_opt.svg
  test.svg
Due: rustfmt, clippy

feat(plugin-sdk): implement cleanupAttrs, cleanupNumericValues, and cleanupEnableBackground plugins
  CHANGELOG.md
  PLAN.md
  TODO.md
  WORK.md
  crates/plugin-sdk/src/lib.rs
  crates/plugin-sdk/src/plugins/cleanup_attrs.rs
  crates/plugin-sdk/src/plugins/cleanup_enable_background.rs
  crates/plugin-sdk/src/plugins/cleanup_numeric_values.rs
  crates/plugin-sdk/src/plugins/mod.rs
  crates/plugin-sdk/src/registry.rs
Due: rustfmt, clippy

docs(history): add detailed project history and development narrative
  HISTORY.md
Due: none

generate an fake project
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE
  README.md
  src/main.rs
  vexy-svgo/Cargo.toml
  vexy-svgo/src/lib.rs
Due: rustfmt, clippy, cargo-toml-fmt

setup package.readme to workspace
  Cargo.lock
  Cargo.toml
  vexy-svgo/Cargo.toml
Due: cargo-toml-fmt

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.rs$
  cargo-toml-fmt: any of: Cargo\.toml$
